@{Layout = Request.IsAjaxCall() ? null : "~/Views/Layouts/FrontEnd.Container.cshtml";}
@{ var leftMenu = ViewData["LeftMenu"].ToStringOrEmpty(); }

<main>
    <header> @await Component.InvokeAsync(typeof(Header)) </header>

    <div class="container-fluid">
        <div class="page">
            @if (leftMenu.HasValue())
            {
                <div class="side-bar">
                    <input type="text" name="searcher" placeholder="Search..."
                           class="form-control global-search"
                           data-search-source="/api/global-search" />
                @await Component.InvokeAsync(ViewData["LeftMenu"].ToString()) </div>
            }

            <div class="content @("full".OnlyWhen(leftMenu.IsEmpty()))">@RenderBody()</div>
        </div>
    </div>

    <footer>@await Component.InvokeAsync(typeof(Footer))</footer>

    @if (!Request.IsAjaxRequest())
    {
        <script src="/lib/requirejs/require.js" data-main="/scripts/references.js?v=1"></script>
    }

    @Html.RegisterDynamicScriptFiles()
    @RenderSection("scripts", required: false)
    @Html.DevCommandsWidget()
    @Html.RegisterStartupActions()
</main>