@model ViewModel.AdministratorsList
<!-- «Start| AdministratorsList» -->
<form data-module="AdministratorsList" method="get" action="@Url.Current()" data-redirect="ajax">
   @Html.AntiForgeryToken()
   @Html.StartupActionsJson()
   <input type="hidden" name="Current-Sort" id="Current-Sort" value="@Model.Sort" />
   <div class="buttons-row top-buttons-row">
      <div class="buttons">
         <a name="NewAdministrator" class="btn btn-secondary" href='@Url.Index("AdminSettingsAdministratorsEnter")' target="$modal"><i class="fa-plus fa"></i>
            New Administrator</a>
      </div>
   </div>
   <h2>Administrators</h2>
   <div class="search">
      <div class="form-group row">
         <label for="FullSearch" class="control-label">
            Find:
         </label>
         <div class="group-control">
            <input type="text" asp-for="FullSearch" class="form-control" />
         </div>
         <div class="group-control">
            <button type="submit" name="Search" class="btn btn-primary" default-button="true"><i class="fa-search fa"></i>
               Search</button>
         </div>
      </div>
   </div>
   @if (Model.Items.Any())
   {
   <text>
      <div class="grid-wrapper">
         <table class="grid">
            <thead>
               <tr>
                  <th data-sort="Name"><a href="@Model.Sort.Url("Name")" data-redirect="ajax">Name</a></th>
                  <th data-sort="Email"><a href="@Model.Sort.Url("Email")" data-redirect="ajax">Email</a></th>
                  <th class="actions">Actions</th>
               </tr>
            </thead>
            <tbody>
               @foreach (var listItem in Model.Items)
               {
               var item = listItem.Item;
               <tr>
                  <td><a name="Name" href='@Url.Index("AdminSettingsAdministratorsView", new { item = item.ID, ReturnUrl = Url.Current() })' data-redirect="ajax">@item.Name</a></td>
                  <td>@item.Email
                     @item.IsDeactivated</td>
                  <td class="actions"><a name="Edit" class="btn btn-secondary" href='@Url.Index("AdminSettingsAdministratorsEnter", new { item = item.ID })' target="$modal"><i class="fa-edit fa"></i>
                        Edit</a>
                     <button type="submit" name="Delete" class="btn-danger btn btn-secondary" formaction='@Url.ActionWithQuery("AdministratorsList/Delete", item)' data-confirm-question="Are you sure you want to delete this Administrator?"><i class="fa-remove fa"></i>
                        Delete</button></td>
               </tr>
               }
            </tbody>
            <tfoot>
               <tr>
                  <td></td>
                  <td></td>
                  <td class="actions"></td>
               </tr>
            </tfoot>
         </table>
      </div>
      <input type="hidden" name="p" id="p" value="@Model.Paging" />
      @Html.Pagination(Model.Paging, new { @class="pagination" })
   </text>
   }
   @if (Model.Items.None())
   {
   <div class="empty-list">
      There are no administrators to display.
   </div>
   }
</form>
<!-- «End| AdministratorsList» -->
