@model ViewModel.ConfirmPasswordReset
@{ Domain.User item = Model.Item; }
<!-- «Start| ConfirmPasswordReset» -->
<form data-module="ConfirmPasswordReset" method="post" action="@Url.Current()">
   @Html.AntiForgeryToken()
   @Html.StartupActionsJson()
   <h2>@item Details</h2>
   @ContentBlock.PasswordSuccessfullyReset.Content
   <div class="buttons-row">
      <div class="buttons">
         <a name="ProceedToTheLoginPage" href='@Url.Index("Login")' data-redirect="ajax" default-button="true">Proceed to the login page.</a>
      </div>
   </div>
</form>
<!-- «End| ConfirmPasswordReset» -->
