@model ViewModel.ResetUserPassword
<!-- «Start| ResetUserPassword» -->
<form data-module="ResetUserPassword" role="form" method="post" action="@Url.Current()" data-validation-style="tooltip" class="input-form">
   @Html.AntiForgeryToken()
   @Html.StartupActionsJson()
   <h2>Reset Your Password</h2>
   <div class="form-body">
      <div class="form-group row required-item">
         <label for="Password" class="control-label">
            Password
         </label>
         <div class="group-control">
            <input type="password" asp-for="Password" class="form-control" autofocus="autofocus" />
            <div class='password-strength'>
            </div>
         </div>
      </div>
      <div class="form-group row required-item">
         <label for="ConfirmPassword" class="control-label">
            Confirm new password
         </label>
         <div class="group-control">
            <input type="password" asp-for="ConfirmPassword" class="form-control" />
         </div>
      </div>
   </div>
   <div class="buttons-row">
      <div class="buttons">
         <a name="Cancel" class="btn btn-secondary" href='@Url.Index("Login")' data-redirect="ajax">Cancel</a>
         <button type="submit" name="Reset" class="btn btn-primary" formaction='@Url.ActionWithQuery("ResetUserPassword/Reset")' default-button="true">Reset</button>
      </div>
   </div>
</form>
<!-- «End| ResetUserPassword» -->
