<!-- Generated M# Preview File -->
@using Olive.Security

@model ViewModel.Footer
@(Layout = null)

<!-- «Start| Footer» -->
<form data-module="Footer" method="post" action="@Url.Current()" class="website-footer">
   @Html.AntiForgeryToken()
   @Html.StartupActionsJson()
   <div class="pull-right">
      <a name="Email" title="Contact Us" href="http://www.geeks.ltd.uk/software-development-quote.html" target="_blank"><i class="fa-envelope-square fa-3x fa"></i></a>
      <a name="LinkedIn" title="LinkedIn" href="http://www.linkedin.com/company/geeks-ltd" target="_blank"><i class="fa-linkedin-square fa-3x fa"></i></a>
      <a name="Facebook" title="Facebook" href="https://www.facebook.com/geeksltd" target="_blank"><i class="fa-facebook-square fa-3x fa"></i></a>
      <a name="Twitter" title="Twitter" href="https://twitter.com/GeeksLtd" target="_blank"><i class="fa-twitter-square fa-3x fa"></i></a>
      <br/>
      <a name="SoftwareDevelopment" class="plain-text" href="http://www.geeks.ltd.uk" target="_blank">Software development</a>
      by
      <a name="Geeks" href="http://www.geeks.ltd.uk" target="_blank">Geeks</a>
   </div>
   <div>
      @if (User.IsInRole("User"))
      {
<text>Hi @GetUser() (
         <a name="Logout" href="#" formaction='@Url.ActionWithQuery("Footer/Logout")'><i class="fa-sign-out fa"></i>
            Logout</a>
         )</text>
      }
   </div>
   <div>
      &copy; @LocalTime.Now.Year. All rights reserved.
   </div>
</form>
<!-- «End| Footer» -->

